/* NAV BAR */
.navbar {
    background-color: $secondColor;
    height: 100%;
    padding: 10px;
}

.navbar__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    list-style: none;
    padding-left: 0% !important;
}

.navbar__links {
    background-color: $mainColor;
    color: $secondColor;
    font-family: cursive;
    text-decoration: none;
    font-size: 24px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}

.main-logo {
    width: 100px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}