//VARIABLES DE COLORES
$mainColor: #ffe4c4;
$secondColor: #462112de;
$thirdColor: #6e2f12;

//VARIABLES DE FUENTES


//VARIABLES DE TAMAÑOS


//VARIABLES DE ICONOS
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");

//VARIABLES DE BOTONES
